<style>
  body {
      background-color: #FFFAFA;
  }
  div.img {
      margin: 5% 20%;
  }
  div.img img {
      margin: 0 auto;
      width: 100%;
      height: auto;
  }
  div.img img:hover {
      border: 2px solid #483D8B;
  }
  img {
      border: 0px solid #ddd;
      border-radius: 4px;
      padding: 1px;
      width: 33%;
      max-width: 300px;
      float: left;
      height: auto;
  }

  /*
  div.central_view {
  overflow: auto;
  margin: 0 auto;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  }*/
</style>
